<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>To Do List app</title>
    <script src="https://kit.fontawesome.com/836a2159df.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <label for="">
            <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>
            <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
        </label>
        <ul>
            {% if app.user %}
            <li>
                <a href="{{ path('logout') }}">Se déconnecter</a>
            </li>
            {% endif %}
            {% if not app.user and 'login' != app.request.attributes.get('_route') %}
            <li>
                <a href="{{ path('login') }}">Se connecter</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Page Content -->
    {% if flash_message is defined %}
        <div class="flashMessage">
            {% for flash_message in app.session.flashBag.get('success') %}
            <div class="success" role="alert">
                <strong>Superbe !</strong> {{ flash_message }}
            </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
            <div class="danger" role="alert">
                <strong>Oops !</strong> {{ flash_message }}
            </div>
            {% endfor %}

            {% block header_title %}{% endblock %}
        </div>
    {% endif %}
    <div class="containerHome">
        <div class="sidebar">
            <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
            <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
            <a href="{{ path('taskDone_list') }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_create') }}">Créer un utilisateur</a>
            <a href="{{ path('user_list') }}">Lister les utilisateurs</a>
            {% endif %}
            
        </div>
        {% block body %}{% endblock %}
    </div>
    <!-- /.container -->

    <footer>
        <div>
            <p>Copyright &copy; OpenClassrooms</p>
        </div>
    </footer>

</body>

</html>
