<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

    <title>To Do List app</title>

    <!-- Bootstrap Core CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <nav>
        <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>
        <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
        <ul>
            <li>
                <a href="{{ path('user_create') }}">Créer un utilisateur</a>
            </li>
            {% if app.user %}
            <li>
                <a href="{{ path('logout') }}">Se déconnecter</a>
            </li>
            {% endif %}
            {% if not app.user and 'login' != app.request.attributes.get('_route') %}
            <li>
                <a href="{{ path('login') }}">Se connecter</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Page Content -->
    <div>
        <div>
            {% for flash_message in app.session.flashBag.get('success') %}
            <div class="success" role="alert">
                <strong>Superbe !</strong> {{ flash_message }}
            </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
            <div class="danger" role="alert">
                <strong>Oops !</strong> {{ flash_message }}
            </div>
            {% endfor %}

            {% block header_title %}{% endblock %}
            {% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %}
        </div>
        {% block body %}{% endblock %}
    </div>
    <!-- /.container -->

        <footer>
                <div>
                    <p>Copyright &copy; OpenClassrooms</p>
                </div>
        </footer>

</body>

</html>